<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website Monitor</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="ctrl">
    <div class="container" style="margin-top:20px;">
        <h2>Website Monitor</h2>
        <p>(Check websites are live or down.)</p>
        <hr/>
        <div class="form-group table">
            <label for="">Enter query string</label>
            <input type="text" ng-model='status' style="width:220px;" placeholder="search here..." class="form-control">
            <br/>
            <p style="font-size:12px;" class="badge badge-primary">Total Down Websites: {{down}}</p>
        </div>
        <div class="table" style="margin-top:20px;height:400px;overflow: auto">
                
                <table>
                        <tr>
                            <th><a href="#">Sno.</a></th>
                            <th><a href="#" ng-click="sortBy('url')">Url</a></th>
                            <th><a href="#" ng-click="sortBy('status')">Status</a></th>
                        </tr>
                        <tr ng-repeat="x in urlDetails | filter:status | orderBy:sort">
                            <th>{{$index+1}}.</th>
                            <td>
                                <a target="_blank" href="{{x.url}}">{{x.url}}</a>
                            </td>
                            <td>
                                <span style="font-size:13px;" class="badge badge-pill badge-{{x.status | chkstatus}}">{{x.status}}</span>
                            </td>
                        </tr>
                        <tr ng-show="loading">
                            <td colspan="4" style="text-align:center">
                                <img src="loading.gif" style="width:80px;height:25px;" alt="loading" />
                            </td>
                        </tr>
                    </table>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('ctrl', function($scope, $http){
            $scope.urls = [];
            $scope.urlDetails = [];
            $scope.loading = true;
            $scope.down = 0;

            $scope.chkWeb = function(id){
                $scope.loading = true;
                $http.get('http://localhost/WebsiteChecker/chk.py?url='+$scope.urls[id][0])
                .then(function(res){
                    
                    if(res.data==404){
                        //console.log(res.data);    
                        $scope.down +=1;
                    }
                    $scope.urlDetails.push({'url': $scope.urls[id][0], 'status': res.data});
                    if (id<Object.keys($scope.urls).length-1){
                        id +=1
                        $scope.chkWeb(id);
                    }else{
                        $scope.loading = false;
                    }
                });
            }

            $scope.getUrls = function(){
                $http.get('http://localhost/WebsiteChecker/geturls.py').then(function(res){
                    $scope.urls = res.data;
                    $scope.chkWeb(0);
                   // console.log($scope.urls[0])
                });
            }
            $scope.getUrls();

            $scope.sortBy = function(data){
                $scope.sort = data;
            };
        });

        app.filter('chkstatus', function(){
            return function(status){
                if(status==200){
                    return 'success';
                }else{
                    return 'danger';
                }
            };
        });

      
    </script>
</body>
</html>